/* -------------------------------- 

Typography

-------------------------------- */

@font-face {
  font-family: "Bellafair-Regular";
  // src: local('../../')
  src: local("../../assets/fonts/Bellefair-Regular.ttf") format("truetype");
  // src: local('Opensans-Bold'), url(@/assets/styles/fonts/OpenSans-Bold.ttf) format('truetype');
}

$bellaFair: "Bellafair-Regular";

/*
Base 16px, Major Third - 1.250


7.451rem/119.21px yes
5.96rem/95.37px	yes
4.768rem/76.29px yes	
3.815rem/61.04px yes
3.052rem/48.83px  yes
2.441rem/39.06px  yes
1.953rem/31.25px  yes
1.563rem/25.00px yes
1.25rem/20.00px	 yes
1rem/16.00px - base
*/

$font-primary: $bellaFair;
$font-secondary: serif;

/* Line Height */
$heading-line-height: 0.8;
$body-line-height: 1.75;

// md screen base size text
//@include breakpoint(md) {
// --text-base-size: 1.25em;
// --text-scale-ratio: 1.25;
//}

/* set base values */
$text-base-size: 1em;
$text-scale-ratio: 1.25;

/* type scale */
$text-xs: calc(1em / ($text-scale-ratio * $text-scale-ratio));
$text-sm: calc(1em / $text-scale-ratio);
$text-md: calc(1em * $text-scale-ratio);
$text-lg: calc(1em * $text-scale-ratio * $text-scale-ratio);
$text-xl: calc(1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio);
$text-xxl: calc(
  1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio *
    $text-scale-ratio
);
$text-xxxl: calc(
  1em * $text-scale-ratio * $text-scale-ratio * $text-scale-ratio *
    $text-scale-ratio * $text-scale-ratio
);

body {
  font-size: $text-base-size;
  font-family: $font-primary;
  color: $blackPearl;
}

h1,
h2,
h3,
h4,
form legend {
  // color: $white;
  // margin-bottom: var(--space-xxs);
  line-height: $heading-line-height;
}

/* text size */
.text--xxxl {
  font-size: $text-xxxl;
}

h1,
.text--xxl {
  font-size: $text-xxl;
}

h2,
.text--xl {
  font-size: $text-xl;
}

h3,
.text--lg {
  font-size: $text-lg;
}

h4,
.text--md {
  font-size: $text-md;
}

.text--sm,
small {
  font-size: $text-sm;
}

.text--xs {
  font-size: $text-xs;
}

p {
  line-height: $body-line-height;
}
